.header{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    box-shadow: 0 5px 3px 0 var(--grey);
    top:0;
    background-color: var(--white);
}
.logoImg,.user-logo-img{
    width: 32px;
    padding:0 0.5rem ;
    cursor: pointer;
}
.user-logo-img{
    border-radius: 50%;
}