.listing{
    border-bottom:1px solid var(--companyColor);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}
.listing-wrapper,.lang-section{
    width: 770px;
    margin: auto;
    margin-top: 4rem;
}
.lang-section{
    position: sticky;
    top: 3rem;
    background-color: var(--white);
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 5px 3px 0 var(--grey)
}
.subText{
    color:hsl(0, 0%, 62%);
    font-size: 0.75rem;
    display: inline-block;
    vertical-align: super;
    width: 12rem;
}
.bag-icon,.loc-icon{
    width: 20px;
    height: 20px;
    height: auto;
}

@media (max-width:760px) {
    .subText{
        width: 6rem;
        vertical-align: inherit;
    }
    .listing{
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
    .listing-wrapper,.lang-section{
        width: 100%;
    }
    .ellpise{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .bag-icon,.loc-icon{
        width: 14px;
    }
}