.listing{
    border-bottom:1px solid hsl(203deg, 85%, 52%);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}
.listing-wrapper,.lang-section{
    width: 770px;
    margin: auto;
    margin-top: 1.5rem;
}
.lang-section{
    margin-top: 3.5rem;
    position: sticky;
    top: 3rem;
    background-color: hsl(0, 0%,100%);
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 5px 3px 0 hsl(0, 0%, 68%)	
}
.subText{
    color:hsl(0, 0%, 62%);
    font-size: 0.75rem;
    display: inline-block;
    vertical-align: top;
    width: 6rem;
}
.bag-icon,.loc-icon{
    width: 20px;
    height: auto;
}

@media (max-width:760px) {
    .listing{
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
    .listing-wrapper,.lang-section{
        width: 100%;
    }
    .ellpise{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .bag-icon,.loc-icon{
        width: 14px;
    }
}