
  .Login {
    border-radius: 1rem;
    width:max-content;
    box-sizing: border-box;
    padding: 2rem;
    border-top: 1px solid var(--companyColor);
    border-bottom: 1px solid var(--companyColor);
  }
  .login-wrapper{
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
  }
  .login-logo-img{
    width: 30vh;
    height: 30vh;
  }
  .hiringFont{
    font-family: fantasy;
    font-size: 1.5rem;
    width: 22vw;
    text-align: center;
  }
  .user-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  input[type="checkbox" i]{
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: 0.5rem;
    background-color: var(--companyColor);
  }

  @media (max-width: 480px) {
    .font2x{
      font-size: 0.8rem;
    } 
    .login-logo-img{
      width: 22vh;
      height:22vh;
    }
  }
  @media (max-width:768px) {
    .login-wrapper{
      flex-direction: column;
      margin: auto;
      margin-top: 2rem;
      height: auto;
    }
    .Login{
      margin: auto;
      margin-top: 0;
      padding: 1rem;
    }
    .font2x{
      font-size: 1rem;
    } 
    .hiringFont{
      width: 90vw;
    }
  }